html {
    min-width: 600px;
    max-width: 800px;
    min-height: 350px;
    /*font-family: "Helvetica Neue", arial, sans-serif;*/
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    background-color: #e0e0e0;
}

#head {
    width: 100%;
}

#bar {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: -webkit-gradient(linear, center bottom, center top, from(#7d7d7d), to(#a8a8a8)); 
}
a {
    color:#0000ff;
}

#search {
    height: 30px;
    line-height: 30px;
    padding: 5px;
    margin: auto;
}

/* Select Box Style */
#select {
    text-align: left;
    float: right;
    margin: auto;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}
ul,li{
    margin:0;
    padding:0;
}
ul#selectedhost{
    border-radius: 2em;
    width:280px;
    font-size: 13px;
    line-height: 30px;
    color: white;
}
ul#selectedhost li{
    float:left;
    width:280px;
    background-color:transparent;
    list-style:none;
    text-align:right;
    position: relative;
}

ul#selectedhost:hover > li{
    background-color: #d7d7d7;
    color:#666;
    border-radius: 10px;
}

ul#selectedhost:hover * #icon{
    background: url('../image/dropdown_icon_gray.png') no-repeat center right;
}
ul#selectedhost li a{
    width: 240px;
    color:#666;
    text-decoration:none;
}
ul#selectedhost li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: -1px;
    width: 280px;
    background: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 1px 1px 4px black;
}
ul#hostlist li{
    float:none;
}

ul#hostlist li.selected > a {
    color: #ff69b4;
}

#hostlist li:hover {
    background: -webkit-gradient(linear, center bottom, center top, from(#44c4f3), to(#a2e1f9)); 
}
#hostlist li:hover > a{
    color: white;
}

#hostlist li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#hostlist li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#icon {
    width: 30px;
    height: 14px;
    display: inline-block;
    background: url('../image/dropdown_icon_white.png') no-repeat center right;
}

span.trash {
    width: 27px;
    height: 14px;
    padding-right: 2px;
    display: inline-block;
    background: url('../image/trash.png') no-repeat center right;
    background-size: contain;
    cursor: pointer;
}

/* Search box */
#filter {
    width: 120px;
    background-color: #faf9f7;
    background-image: url('../image/search.png');
    background-repeat: no-repeat;
    background-position-x: right;
    border-right: 2px solid #bebebe;
    border-left: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    padding-right: 20px;
}
/* Trigger Table */
#datatable table {
    background-color: white;
    width: 97%;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    margin-top: 4px;
}

#datatable td > a {
    padding-left: 5px;
}

#datatable th {
    text-align: left;
}

#datatable td.old #new_flag {
    display: none;
}

#datatable tr.footable-row-detail {
    background-color: #eeddff;
}

#datatable td #new_flag {
    background-color: #ff0000;
    color: white;
    border-radius: 8px;
    font-size: 5px;
    padding: 1px;
}
#login {
    background-color: #e0e0e0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    border: 1px solid #334488;
}

#login td{
    font-size:13px;
    text-align: left;
}

#login input{
    border-radius: 8px;
    background-color: #faf9f7;
    font-size: 18px;
    border-right: 2px solid #bebebe;
    border-left: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
    border-bottom: 2px solid #bebebe;
}

#login > a {
    display:inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#button{
    width: 80px;
    text-align:center;
    border-radius: 3px;
    background-color: #ffd700;
    box-shadow: inset 0 0.6em 3px #ffee88, 0 0 0.2em #ffee88;
    text-shadow: 0px 1px #fff;
    border: 1px solid #ffc711;
}

#button:hover > a{
    color:#ff69b4;
}

#button:hover {
    background-color: #ffee00;
    box-shadow: inset 0 0.6em 3px #ffee44, 0 0 0.2em #ffee44;
}

a{
    text-decoration: none;
}

a:hover {
    color: #ff69b4;
}

body{
    overflow:visible;
}

div.nodata{
    font-size: 20px;
    font-weight:bold;
    text-shadow: 3px 3px 5px #00ffff;
    color:#0000ff;
}

div.noconnection{
    font-size: 20px;
    font-weight:bold;
    text-shadow: 3px 3px 5px #fffacd;
    color:#ff0000;
}

#message {
    width:100%;
    height:30px;
    border-top: 2px #00ff7f solid;
    border-bottom: 2px #00ff7f solid;
    background-color:#90ee90;
    text-align: center;
    line-height:30px;
    color: #808080;
}

#error {
    width:100%;
    height:30px;
    border-top: 2px #dc143c solid;
    border-bottom: 2px #dc143c solid;
    background-color:#ffc0cb;
    text-align: center;
    line-height:30px;
    color: #808080;
}

#logout-div {
    text-align:right;
}

#datatable td.information {
    border-left: 5px solid #D6F6FF;
}

#datatable td.warning {
    border-left: 5px solid #FFF6A5;
}

#datatable td.average {
    border-left: 5px solid #FFB689;
}

#datatable td.high {
    border-left: 5px solid #FF9999;
}

#datatable td.disaster {
    border-left: 5px solid #FF3838;
}

