#tab {
width: 100%;
background-color: #ffffff;
border-bottom: 5px #C3BEFD solid;
font-size: 100%;
}

#tab ul {
width: 99%;
margin: 13px;
padding: 3px;
list-style-type: none;
text-align: center;
}

#tab ul li {
padding-right:10px;
padding-left:10px;
float: left;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

#tab ul li.selected_tab {
background-color: #C3BEFD;
border-top: 2px #4C3FD6 solid;
border-left:2px #4C3FD6 solid;
border-right:2px #4C3FD6 solid;
color: #0000ff;
}

#tab ul li.tab {
background-color: #EBE9FE;
border-top: 2px #C3BEFD solid;
border-left:2px #C3BEFD solid;
border-right:2px #C3BEFD solid;
color: #0000cd;
}

#datatable {
background-color: #C3BEFD;
color: #0000ff;
}

#datatable td {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
color: #0000ff;
border-radius: 5px;
background-color: #EBE9FE;
border-color: #EBE9FE;
border: 1px solid;
}

#datatable th {
text-align: left;
}

#datatable tr {
border: 10px #ffffff solid;
border-radius: 10px;
}

#datatable td {
border-color: #ff0000;
}


#login input{
border-radius: 8px;
border-color: #ffb6c1;
background-color: #add8e6;
}

#buttom{
width: 80px;
text-align:center;
border-radius: 3px;
background-color: #ffd700;
box-shadow: inset 0 0.6em 3px #ffee88, 0 0 0.2em #ffee88;
text-shadow: 0px 1px #fff;
}

#login a{
text-decoration: none;
}