html {
min-width: 600px;
max-width: 800px;
font-family: cursive,general-family;
font-size: 13px;
}

a {
color:#0000ff;
}

#tab {
width: 100%;
min-width: 600px;
max-width: 1200px;
background-color: #ffffff;
border-bottom: 5px #C3BEFD solid;
}

#tab ul {
width: 100%;
margin: 8px;
padding: 12px;
list-style-type: none;
text-align: center;
white-space:nowrap;
}

#tab ul li {
padding-right:10px;
padding-left:10px;
float: left;
display:inline-block;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

#tab ul li.selected_tab {
background-color: #C3BEFD;
border-top: 2px #4C3FD6 solid;
border-left:2px #4C3FD6 solid;
border-right:2px #4C3FD6 solid;
color: #0000ff;
}

#tab ul li.tab {
background-color: #EBE9FE;
border-top: 2px #C3BEFD solid;
border-left:2px #C3BEFD solid;
border-right:2px #C3BEFD solid;
color: #0000cd;
}

#datatable {
background-color: #C3BEFD;
color: #696969;
width:100%;
min-width: 600px;
max-width: 1200px;
}

#datatable td {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
color: #555555;
border-radius: 5px;
background-color: #EBE9FE;
border-color: #EBE9FE;
border: 1px solid;
font-size:13px;
}

#datatable a{
color:#0000ff;
}


#datatable th {
text-align: left;
}

#datatable tr {
border: 10px #ffffff solid;
border-radius: 10px;
font-size:18px;
}

#datatable td.new {
border-color: #ff0000;
}

#datatable td.old {
border-color: #0000ff;
}

#login td{
font-size:18px;
}

#login input{
border-radius: 8px;
border-color: #ffb6c1;
background-color: #add8e6;
font-size: 18px;
}

#button{
width: 80px;
text-align:center;
border-radius: 3px;
background-color: #ffd700;
box-shadow: inset 0 0.6em 3px #ffee88, 0 0 0.2em #ffee88;
text-shadow: 0px 1px #fff;
}

#button:hover > a{
color:#ff69b4;
}

#button:hover {
background-color: #ffee00;
box-shadow: inset 0 0.6em 3px #ffee44, 0 0 0.2em #ffee44;
}

a{
text-decoration: none;
}

a:hover{
color:#ff69b4;
}

#datatable a:hover{
color:#ff69b4;
}

body{
overflow:visible;
}

div.nodata{
font-size: 20px;
font-weight:bold;
text-shadow: 3px 3px 5px #00ffff;
color:#0000ff;
}

div.noconnection{
font-size: 20px;
font-weight:bold;
text-shadow: 3px 3px 5px #fffacd;
color:#ff0000;
}

#message {
width:100%;
height:30px;
border-top: 2px #00ff7f solid;
border-bottom: 2px #00ff7f solid;
background-color:#90ee90;
text-align: center;
line-height:30px;
color: #808080;
}

#error {
width:100%;
height:30px;
border-top: 2px #dc143c solid;
border-bottom: 2px #dc143c solid;
background-color:#ffc0cb;
text-align: center;
line-height:30px;
color: #808080;
}

#logout {
text-align:right;
}
